---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";
import  Navitem from "../shared/Navitem.astro";

const navItems = [
    {
        href:"#",
        text:"Hola"
    },
    {
        href:"#services",
        text:"Servicios"
    },
    {
        href:"#about-us",
        text:"Portafolio"
    },
   
]
---

<header class="absolute inset-x-0 top-0 z-50 py-6">
    <Container>
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">
                    <svg width="50" height="50" viewBox="0 0 690 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M231.25 670.125C96.5649 623.338 0 495.25 0 344.612C0 154.32 154.243 0 344.612 0C534.98 0 689.223 154.32 689.223 344.612C689.223 479.22 612.063 595.803 499.545 652.484" fill="#4A44BC"/>
                        <path d="M331.496 403.21V544.414L234.318 641.9L254.72 450.227L295.064 409.883H311.017C318.687 409.883 325.744 407.429 331.496 403.21Z" fill="#981747"/>
                        <path d="M325.36 217.137L263.08 279.417H207.243V265.765L255.793 217.137H325.36Z" fill="#FCCD5C"/>
                        <path d="M470.706 404.744L346.069 279.417H263.08L325.36 217.137H342.771V140.897H373.834L400.832 167.896V217.137L455.213 271.517L470.706 404.744Z" fill="#FAAD3D"/>
                        <path d="M490.725 576.628L395.54 480.217L470.706 404.744L490.725 576.628Z" fill="#FDB641"/>
                        <path d="M490.724 576.628L381.351 687.306C369.309 688.61 357.037 689.3 344.612 689.3C340.163 689.3 335.868 689.223 331.496 688.993V544.414L395.54 480.217L490.724 576.628Z" fill="#FB812A"/>
                        <path d="M499.545 652.561C463.343 670.815 423.459 682.857 381.351 687.306L490.725 576.628L499.545 652.561Z" fill="#24EED9"/>
                        <path d="M331.496 544.414V688.993C311.784 688.226 292.533 685.848 273.741 681.937L234.241 641.9L331.496 544.414Z" fill="#F63E33"/>
                        <path d="M273.818 681.937C259.322 678.946 245.055 674.957 231.326 670.125L234.317 641.823L273.818 681.937Z" fill="#18B7CA"/>
                        <path d="M321.141 167.896V217.137H263.08V140.897H294.143L321.141 167.896Z" fill="#F03D36"/>
                        <path d="M470.706 404.744L395.54 480.14L331.496 544.338V403.21C340.316 396.844 346.069 386.49 346.069 374.755V279.417L470.706 404.744Z" fill="#F16D29"/>
                        <path d="M295.064 409.883L254.72 450.15L259.015 409.883H295.064Z" fill="#52045B"/>
                        <path d="M346.069 279.417V374.755C346.069 386.49 340.317 396.844 331.496 403.21C325.744 407.429 318.687 409.883 311.017 409.883H221.739C202.334 409.883 186.61 394.16 186.61 374.831V344.919L256.407 279.494H346.069V279.417Z" fill="white"/>
                        <path d="M307.182 338.783C314.849 338.783 321.065 332.567 321.065 324.9C321.065 317.233 314.849 311.017 307.182 311.017C299.515 311.017 293.3 317.233 293.3 324.9C293.3 332.567 299.515 338.783 307.182 338.783Z" fill="black"/>
                        </svg>
                    <div class="inline-flex text-lg font-semibold text-heading-1">
                        LLamativo
                    </div>
                </a>
            </div>

            <div data-nav-overlay aria-hidden="true" class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"></div>
            <div data-navbar class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0">
                <ul class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center">
                    {navItems.map(item=>{
                        return <Navitem {...item}/>
                    })
                    }
                </ul>

                <div class="lg:min-w-max flex items-center sm:w-max w-full pb-6 lg:pb-0 border-b border-box-bg lg:border-0 px-6 lg:px-0">
                    <BtnLink text="Contactanos" href="#cta" className="flex justify-center w-full sm:w-max" variant="primary"/>
                </div>
            </div>


            <div class="min-w-max flex items-center gap-x-3">
                <button data-switch-theme class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:flex hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                      </svg>
                                    
                    <span class="sr-only">switch theme</span>
                </button>
                
                <button data-toggle-nav data-open-nav="false" class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line1" class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line2" class="w-6 origin-center  mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line3" class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span>                         
                    <span class="sr-only">togglenav</span>
                </button>
            </div>
        </nav>
    </Container>
</header>